@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container-fluid p-0">
    <h2 class="display-4">Immerse yourself in the universe of technological innovation.</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Register</h5>
                <p class="card-text">New User, New client for all the cutting-edge features you've been searching for. Welcome!!!</p>
                <a href="#" class="btn btn-outline-primary">Access Now</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <img src="caminho/para/icone-ia.svg" class="img-fluid" style="max-width: 80px;">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Cadu For Cadu</h5>
                <p class="card-text">New User, New client for all the cutting-edge features you've been searching for. Welcome!!!</p>
                <a href="#" class="btn btn-outline-success">Access Now ></a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <img src="caminho/para/icone-web.svg"  class="img-fluid" style="max-width: 80px;">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Client Gold</h5>
                <p class="card-text">New User, New client for all the cutting-edge features you've been searching for. Welcome!!!</p>
                <a href="#" class="btn btn-outline-info">Access Now ></a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <img src="caminho/para/icone-cloud.svg"  class="img-fluid" style="max-width: 80px;">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Workspace for You </h5>
                <p class="card-text">New User, New client for all the cutting-edge features you've been searching for. Welcome!!!</p>
                <a href="#" class="btn btn-outline-warning">Access Now ></a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <img src="caminho/para/icone-personalizado.svg"  class="img-fluid" style="max-width: 80px;">
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        border: none;
        border-radius: 10px;
    }

    .card-title {
        color: #343a40; /* Cor do título */
    }

    .card-